<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<!-- JS -->
        <script type="text/javascript" src="js/model.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
		<!-- MATERIAL DESIGN -->
		<script src="js/angular-material.min.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/angular-aria.min.js"></script>
		<link rel="stylesheet" href="css/angular-material.css">
		<!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/fonts-import.css" media="all">
        <link rel="stylesheet" type="text/css" href="css/main.css" media="all">
        <link rel="stylesheet" type="text/css" href="css/desktop-only.css" media="only screen and (min-width: 800px)">
        <link rel="stylesheet" type="text/css" href="css/mobile-only.css" media="only screen and (max-width: 800px)">
    </head>
    <body data-ng-app="conversation-stack" data-ng-controller="mainController" data-ng-csp>
		<div layout="column" layout-fill>
			<!-- MAIN TOOLBAR -->
			<md-toolbar class="md-primary md-whiteframe-z2">
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" data-ng-click="toggleMenu()">
						<md-icon>menu</md-icon>
					</md-button>
					
					<h2 id="appTitle" class="draggable">Conversation Stack</h2>
					<span class="draggable" style="height: 100%" flex></span> <!--fills up space between L and R of screen -->

					<md-button class="md-icon-button" id="close">
						<md-icon>close</md-icon>
					</md-button>
				</div>
			</md-toolbar>

			<md-content layout-padding id="mainContent">
				<md-card class="item md-primary" data-ng-repeat="x in topics">
					<md-card-content>
						{{ x }}
					</md-card-content>
				</md-card>
			</md-content>
		</div>
		
<!--		 MAIN TOOLBAR 
		<md-toolbar class="md-primary md-whiteframe-z2" md-scroll-shrink>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" data-ng-click="toggleMenu()">
					<md-icon>menu</md-icon>
				</md-button>
				
				<h2 id="appTitle" class="draggable">Conversation Stack</h2>
				<span class="draggable" flex></span>  fills up space between L and R of screen 
				
				<md-button class="md-icon-button" id="close">
					<md-icon>close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
	
		<section layout="row" flex>
			 SIDE MENU 
			<md-sidenav class="md-sidenav-left md-whiteframe-z3" md-component-id="menu">
				<md-content layout-padding>
					<md-button>
						<md-icon>arrow_back</md-icon>
					</md-button>
					<md-list>
						<md-list-item ng-click>
							<md-icon>forum</md-icon>
							<p>Current</p>
						</md-list-item>
						<md-list-item>
							<md-icon>list</md-icon>
							<p>Plan</p>
						</md-list-item>
						<md-list-item>
							<md-icon>history</md-icon>
							<p>History</p>
						</md-list-item>
						
						<md-divider></md-divider>
						
						<md-list-item>
							<md-icon>settings</md-icon>
							<p>Settings</p>
						</md-list-item>
					</md-list>
				</md-content>
			</md-sidenav>
			
			 MAIN CONTENT 
			<md-content>
				<md-tabs class="md-primary md-whiteframe-z2" md-stretch-tabs="always" md-swipe-content md-no-disconnect md-selected="1">
					 CONVERSATION 
					<md-tab label="conversation">
						<md-content layout-padding data-ng-click="closeMenu()" id="mainContent">
							<md-card class="item md-primary" data-ng-repeat="x in topics">
								<md-card-content>
									{{ x }}
								</md-card-content>
							</md-card>
						</md-content>
					</md-tab>
					 AGENDA 
					<md-tab label="agenda">
						<md-content flex layout-padding data-ng-click="closeMenu()" id="mainContent">
							<md-card class="item md-primary" data-ng-repeat="y in agenda">
								<md-card-content>
									{{ y }}
								</md-card-content>
							</md-card>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-content>
		</section>-->
	</body>
</html>
