<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<!-- JS -->
        <script type="text/javascript" src="js/model.js"></script>
        <script type="text/javascript" src="js/controller.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
		<!-- MATERIAL DESIGN -->
		<script src="js/angular-material.min.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/angular-aria.min.js"></script>
		<link rel="stylesheet" href="css/angular-material.css">
		<!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/fonts-import.css" media="all">
        <link rel="stylesheet" type="text/css" href="css/main.css" media="all">
        <link rel="stylesheet" type="text/css" href="css/desktop-only.css" media="only screen and (min-width: 800px)">
        <link rel="stylesheet" type="text/css" href="css/mobile-only.css" media="only screen and (max-width: 800px)">
    </head>
    <body ng-app="conversation-stack" ng-controller="mainController" ng-csp>
		<!-- MAIN VIEW -->
		<section id="view_main" md-theme="main" class="view" style="display: block">
			<div id="container" layout="column">
			<!-- MAIN TOOLBAR -->
			<md-toolbar class="md-primary">
				<div class="md-toolbar-tools">
					<md-button id="menuButton" class="md-icon-button" ng-click="openMenu()">
						<md-icon>menu</md-icon>
					</md-button>

					<h2 id="appTitle" class="draggable">Conversation Stack</h2>
					<span class="draggable" style="height: 100%" flex></span> <!--fills up space between L and R of screen -->

					<md-button class="md-icon-button" id="close">
						<md-icon>close</md-icon>
					</md-button>
				</div>
			</md-toolbar>
			
			<!-- NAVIGATION DRAWER -->
			<md-sidenav id="sidenav" class="md-sidenav-left md-whiteframe-z3" md-component-id="menu">
				<nav-content>
					<md-list>
						<md-list-item>
							<md-button class="md-icon-button" ng-click="closeMenu()">
								<md-icon>arrow_back</md-icon>
							</md-button>
							<p>LOGO WILL GO HERE</p>
						</md-list-item>

							<md-divider></md-divider>

						<md-list-item ng-click="openView('main')">
							<md-icon>forum</md-icon>
							<p>Current</p>
						</md-list-item>
						<md-list-item>
							<md-icon>list</md-icon>
							<p>Plan</p>
						</md-list-item>
						<md-list-item>
							<md-icon>history</md-icon>
							<p>History</p>
						</md-list-item>

							<md-divider></md-divider>

						<md-list-item ng-click="openView('settings')">
							<md-icon>settings</md-icon>
							<p>Settings</p>
						</md-list-item>
						<md-list-item ng-click="openView('help')">
							<md-icon>help</md-icon>
							<p>Help and Feedback</p>
						</md-list-item>
					</md-list>
				</nav-content>
			</md-sidenav>
			
			<!-- MAIN CONTENT -->
			<md-content id="tabContainer">
				<md-tabs class="md-primary md-whiteframe-z2" md-stretch-tabs="always" md-swipe-content md-no-disconnect md-selected="0">
					<!-- CONVERSATION -->
					<md-tab label="conversation" md-active="connectListeners()">
						<md-content layout-padding class="mainContent">
							<md-card class="item" ng-repeat="x in topics">
								<md-card-content>
									{{ x }}
								</md-card-content>
							</md-card>
						</md-content>
					</md-tab>
					<!-- AGENDA -->
					<md-tab label="agenda" md-active="connectListeners()">
						<md-content layout-padding class="mainContent">
							<md-card class="item" ng-repeat="x in agenda">
								<md-card-content>
									{{ x }}
								</md-card-content>
							</md-card>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-content>
		</div>
		</section>
		
		<!-- SETTINGS VIEW -->
		<section id="view_settings" md-theme="settings" class="view">
			<!-- MAIN TOOLBAR -->
			<md-toolbar class="md-primary">
				<div class="md-toolbar-tools">
					<md-button id="backButton" class="md-icon-button" ng-click="back()">
						<md-icon>arrow_back</md-icon>
					</md-button>

					<h2 id="appTitle" class="draggable">Settings</h2>
					<span class="draggable" style="height: 100%" flex></span> <!--fills up space between L and R of screen -->

					<md-button class="md-icon-button" id="close">
						<md-icon>close</md-icon>
					</md-button>
				</div>
			</md-toolbar>

			<!-- CONTENT -->
			<md-content>
				<md-list>
					<md-list-item>Setting #1</md-list-item>
				</md-list>
			</md-content>
		</section>
		
		<!-- HELP AND FEEDBACK VIEW -->
		<section id="view_help" md-theme="help" class="view">
			<!-- MAIN TOOLBAR -->
			<md-toolbar class="md-primary">
				<div class="md-toolbar-tools">
					<md-button id="backButton" class="md-icon-button" ng-click="back()">
						<md-icon>arrow_back</md-icon>
					</md-button>

					<h2 id="appTitle" class="draggable">Help and Feedback</h2>
					<span class="draggable" style="height: 100%" flex></span> <!--fills up space between L and R of screen -->

					<md-button class="md-icon-button" id="close">
						<md-icon>close</md-icon>
					</md-button>
				</div>
			</md-toolbar>
			
			<!-- CONTENT -->
			<md-content>
				<md-list>
					<md-list-item>HELP</md-list-item>
				</md-list>
			</md-content>
		</section>
		
	</body>
</html>
